News/.DS_Store
News/News.xcodeproj/project.xcworkspace/contents.xcworkspacedata
News/News.xcodeproj/project.xcworkspace/xcuserdata/yunusoktay.xcuserdatad/UserInterfaceState.xcuserstate
News/News/Scenes/.DS_Store
News/News/.DS_Store
